@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
}
:root{
    /*========colors======*/
    --body-color: linear-gradient(90deg,rgba(0, 207, 243, 0),rgba(255, 241, 241, 0.846));
    --sidebar-color:rgb(231, 226, 226);
    --primary-color:rgb(17, 53, 255);
    --primary-color-light: #bdb8d438;
    --toggle-color:#0021f7eb;
    --text-color:#1c005d;
    --search-karo:rgb(130, 175, 140);
    


    /*==========transition======*/
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.4s ease;
    --tran-03: all 0.5s ease;

}
body{
    height:100vh;
    background: var(--body-color);
    /* justify-content: center;
    align-items: center;
    display: flex; */
    /* background: linear-gradient(90deg,rgb(180, 8, 203),rgb(126, 11, 11)); */
    /* background-imaimages/bgimage.jpg");
    background-repeat: no-repeat;
    background-size:auto; */
    /* background-image: url(/main/images/loginpic.jpeg) */
}
body.dark{
    --body-color:#18191A;
    --sidebar-color:#242526;
    --primary-color:#3A3B3C;
    --primary-color-light:#3A3B3C;
    --toggle-color:#FFF;
    --text-color:#CCC;
    --search-karo:rgb(255, 254, 254);
    

}

/*=======sidebar=======*/

.sidebar{
    position:fixed;
    top:0;
    left:0;
    z-index: 1;
    height:100%;
    width: 250px;
    padding:10px 14px;
    background: var(--sidebar-color);
    backdrop-filter: blur(40px);

}
.horizontal-header{
    position: center;
    height: 34px;
    width: 23px;
    padding-left: 45px;
    background:#05274b;

}

/*=======Resualble css=======*/
.sidebar .text{
    font-size:16px;
    font-weight:500;
    color: var(--text-color)
}

.sidebar.close .text{
    opacity: 0;
}
.sidebar.close{
    width:80px;
}
.sidebar .image{
    min-width: 60px;
    display:flex;
    align-items: center;
}

.sidebar li{
    height:50px;
    margin-top:20px;
    list-style: none;
    display:flex;
    align-items: center;
}
.sidebar li .icon{
    display:flex;
    align-items: center;
    justify-content: center;
    min-width:60px;
    font-size: 20px;
}
.sidebar li .icon,
.sidebar li .text{
    color:var(--text-color);
    transition:var(--tran-02);
}
.sidebar header{
    position:relative;

}
.sidebar .image-text img{
    width:40px;
    height:35px;
    border-radius:6px;

}
.sidebar header .image-text{
    display:flex;
    align-items:center;
}
header .image-text .header-text{
    display:flex;
    flex-direction:column;

}
.header-text .name{
    font-weight:600;

}
.header-text .profession{
    margin-top:-3px;
    color: #544787;
    flex-direction: row;
}
.sidebar.close header .profession{
    display: none;
}
.sidebar header .toggle{
    position:absolute;
    top:50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height:25px;
    width:25px;
    background:var(--primary-color); 
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font: size 22px;
    cursor: pointer;
    transition:var(--tran-05)
}
body.dark .sidebar header .toggle{
    color: var(--text-color);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}
.sidebar .menu{
    margin-top: 40px;
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}
.sidebar li a:hover{
    background:var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color:white;
    transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
    

}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}


.sidebar.menu-bar{
    height:calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y:scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .moon-sun{
    height:50px;
    width: 60px;
    display: flex;
    align-items: center;
}
.menu-bar .mode i{
    position:absolute;

}
.menu-bar .mode i.moon{
    opacity: 0;
     
}
body.dark .mode .moon-sun i.sun{
    opacity: 1;
}
body.dark .mode .moon-sun i.moon{
    opacity: 1;
}
/* .menu-bar .mode .toggle-switch{
    height:100%;
    display: flex;
    min-width:60px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
}
.toggle-switch .switch{
    position: relative;
    height:22px;
    width:44px;
    border-radius: 25px;
    background: var(--toggle-color); 
}
.switch::before{
    content: '';
    position:absolute;
    height:15px;
    width: 15px;
    border-radius:50%;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    background: var(--sidebar-color);
    transition: var(--  tran-03);
}

body.dark .switch::before{
    left:24px;
} */
.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-02);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 21px;
}
.home{
    position: absolute;
    top: 0;
    top: 0;
    left: 250px;
    height: 100vh;
    width: calc(100% - 250px);
    background-color: var(--body-color);
    transition: var(--tran-05);
}


.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    left: 60x;
    height: 100vh;
    width: calc(100% - 78px);
}

body.dark .home .text{
    color: var(--text-color);
}
.topnav {
    background-color: rgb(245, 245, 245);
    overflow: hidden;
    margin-left: 80px;
    margin-top: 50px;
    box-sizing: border-box;
    padding: 18px;
    /* height: 60px; */
    z-index: 1;
    position: fixed;
    width: 100%;
    /* margin: ; */
    
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    
    color: #fffefe;
    text-align: center;
    background-color: #754e4e;
    background: #3b1fd8;
    padding: 10px 30px;
    padding-left: 20px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 5px;
    font-size: 15px;
    font-family: inherit;
   
    /* margin: 16px; */
   
  }
.bar{
    margin-left: 30px;
    border-radius: 5px;
    height: 30px;

}
  .search-kar{
    height: 60px;
    padding: 0;
    text-align: center;
    width: 100%;
    color: #151212;
    background: var(--search-karo);
    /* padding-top: 13px; */
    justify-content: center; 
    z-index: 1;
    
    position: fixed;   
    top:0 ;
    
  } 
  .search-kar{
    background: url(../images/container2bg.jpg);
    font-family: "poppin",sans-serif;
  }

  .search-kar .search-text{
    justify-content: center;
    font-size: 40px;
    text-align: center;
   
   
  }
  .search-kar .bx-search-alt-2{
    padding-top: 10px;
    font-size: 40px;
  }
  

  .Search-karo .image-text img{
    padding-top: 11px;
    margin-top: 130px;
    margin-left: 250px;
    height:230px ;
    width: 70%;
    text-align: center;
    justify-content: center;
    
    background: rgb(20, 8, 8);
  }
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: rgb(0, 0, 0);
    border-radius: 7px;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
    align-items: center;
  }
  /* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: left;
    padding: 6px;
    padding-left: 10px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }


  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: left;
       display : block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: fixed;}
    .topnav.responsive a.icon {
      position: right;
      right: 0;
      top: 0;
      
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
  }
}


.shops{
    display: flex;
 
    margin-left: 120px;
    flex-direction: column;
  
}
#gro1{
    width: 300px;
    height: 300px;
    align-items: center;
    justify-content: center;
    position:relative;
    border-radius: 20px;
    padding: 0;
    margin: 0;
}
.container h2{
    justify-content: left;
}
.container{
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    /* background-image: url(./images/container_bg); */
    width: 1000px;
    margin-left: 70px;
    border-radius: 30px;
    background-color: rgb(118, 122, 199);
    z-index:-1;
    padding: 23px;
    margin-bottom: 50px;
    background-image: url("../images/containernew\ \(2\).jpg");
    background-repeat: no-repeat;
    background-size: cover ;
   
}
.one{
  color: white;
  margin-left: 7px;
  padding-right: 0;
}
.one h2{
  background-color: #14181f;
  padding-right: 0;
  width:350px;
}
.one h4{
  margin-left: 10px;
  margin-top: 3px;
  /* background-color: #000000; */
  padding: 0;
}
.provide{
  margin-left: 12px;
}
.code
{
    width: 200px;
    height: 70px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    margin-left: 400px;
    background: white;
}
.code h2{
    color: red;
    font-weight: 800;
    text-align: center;
    padding-left: 0;
    margin: 0;
    width:199px;
    border-color: #0026ff;
}
.code h4{
    color: rgb(60, 60, 247);
    margin-left: 10px;
}
.shop_code{
    text-align: center;
}

/* .provides{
    
} */
.container h4{
    text-align: center;
    margin-right: 0;
}





  nava{
    position: fixed;
    background: #171c24;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* margin-top: 60px; */
    padding: 0 100px;
    top: 60px;
    width: 100%;
    /* z-index: 1;
     */
  }
  nava .logo{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
  }
  nava .nava-items{
    display: flex;
    flex: 1;
    padding: 0 0 0 40px;
  }
  nava .nava-items li{
    list-style: none;
    padding: 0 15px;
  }
  nava .nava-items li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  nava .nava-items li a:hover{
    color: #ff3d00;
  }
  nava form{
    display: flex;
    height: 40px;
    padding: 2px;
    background: #1e232b;
    min-width: 18%!important;
    border-radius: 2px;
    border: 1px solid rgba(155,155,155,0.2);
  }
  nava form .search-data{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    color: #000000;
    background-color: whitesmoke;
    font-size: 17px;
    border: none;
    font-weight: 500;
    background: whitesmoke;
  }
  nava form button{
    padding: 0 15px;
    color: #fff;
    font-size: 17px;
    background: #6745ff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
  }
  nava form button:hover{
    background: #e63600;
  }
  nava .menu-icon,
  nava .cancel-icon,
  nava .search-icon{
    width: 40px;
    text-align: center;
    margin: 0 50px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  nava .menu-icon span,
  nava .cancel-icon,
  nava .search-icon{
    display: none;
  }
  @media (max-width: 1245px) {
    nava{
      padding: 0 50px;
    }
  }
  @media (max-width: 1140px){
    nava{
      padding: 0px;
    }
    nava .logo{
      flex: 2;
      text-align: center;
    }
    nava .nav-items{
      position: fixed;
      z-index: 99;
      top: 70px;
      width: 100%;
      left: -100%;
      height: 100%;
      padding: 10px 50px 0 50px;
      text-align: center;
      background: #14181f;
      display: inline-block;
      transition: left 0.3s ease;
    }
    nava .nava-items.active{
      left: 0px;
    }
    nava .nava-items li{
      line-height: 40px;
      margin: 30px 0;
    }
    nava .nava-items li a{
      font-size: 20px;
    }
    nava form{
      position: absolute;
      top: 80px;
      right: 50px;
      opacity: 0;
      pointer-events: none;
      transition: top 0.3s ease, opacity 0.1s ease;
    }
    nava form.active{
      top: 95px;
      opacity: 1;
      pointer-events: auto;
    }
    nava form:before{
      position: absolute;
      content: "";
      top: -13px;
      right: 0px;
      width: 0;
      height: 0;
      z-index: -1;
      border: 10px solid transparent;
      border-bottom-color: #1e232b;
      margin: -20px 0 0;
    }
    nava form:after{
      position: absolute;
      content: '';
      height: 60px;
      padding: 2px;
      background: #1e232b;
      border-radius: 2px;
      min-width: calc(100% + 20px);
      z-index: -2;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    nava .menu-icon{
      display: block;
    }
    nava-1 .search-icon,
    nava .menu-icon span{
      display: block;
    }
    nava .menu-icon span.hide,
    nava .search-icon.hide{
      display: none;
    }
    nava .cancel-icon.show{
      display: block;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .space{
    margin: 10px 0;
  }
  nava .logo.space{
    color: red;
    padding: 0 5px 0 0;
  }
  @media (max-width: 980px){
    nava .menu-icon,
    nava .cancel-icon,
    nava .search-icon{
      margin: 0 20px;
    }
    nava form{
      right: 30px;
    }
  }
  @media (max-width: 350px){
    nava .menu-icon,
    nava .cancel-icon,
    nava .search-icon{
      margin: 0 10px;
      font-size: 16px;
    }
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .content header{
    font-size: 30px;
    font-weight: 700;
  }
  .content .text{
    font-size: 30px;
    font-weight: 700;
  }
  .content .space{
    margin: 10px 0;
  }



  /* carousel */

  .shop_container{
    display: flex;
    margin-top: 150px;
    flex-direction: row;
    /* border: 2px solid black; */
    width: 800px;
    margin-left: 70px;
    /* border-radius: 30px; */
    background-color: white;
    z-index:-1;
    padding: 23px;
    margin-bottom: 50px;
    z-index: 1;

}
#carouselExampleIndicators{
    height:300px;
    /* background: #000000; */
    margin-top: 120px;
    z-index: -1;
    /* margin-top: 30px; */
}
/* .firstcarousel{
    width: 200px;
    margin-top: 200px;
    height: 70px;
    background-color: #000000;
    border-radius: 0px;
    margin-left: 400px;
    border-color: var(--sidebar-color);
} 

#gro2{
    margin-left: 10px;
    height: 100px;
    width:100px
    margin-top:150px;

} */

/* .carousel-inner{
    height: 200px;
    width:500px;


} */

/* about */

footer .about{    
    /* background-image: url(./images/container_bg); */
    width: 100%;
    height:200px;
    bottom: 0;
    margin-left: 0px;
    background-color: rgb(0, 0, 0);
    /* z-index:-1; */
  
  
    background: #000000;
}
form{
  width: 400px;

}
input[type="text"] {
  width: 100%;
  padding: 15px 10px;
  border: none;
  border-bottom: 1px solid #645979;
  outline: none;
  border-radius: 5px 5px 0 0;
  background-color: #ffffff;
  font-size: 16px;
}
ul {
  list-style: none;
}
.list {
  width: 100%;
  background-color: #ffffff;
  border-radius: 0 0 5px 5px;
}
.list-items {
  padding: 10px 5px;
  background-color: wheat;
}
.list-items:hover {
  background-color: #dddddd;
}

.jatin{
  width:100%;
  height:2px;
}
.harsh{
  margin-left: 30px;
}
#input{
  margin:0;
  padding: 10px;
}
#input nimit{
  width:50%;

}
#chatpageimg{
  width: 400px;
  height: 200px;
  
}