@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
:root {
	--dark-color-a: #5129e3;
	--dark-color-b: #167fff;
	--light-color: #e6e9ff;
	--success-color: #6c7dec;
	--error-color: #ad0d07;
	--body-color:#ffffff;
    --sidebar-color:#dfdfdf;
    --primary-color:#05274b;
    --primary-color-light: #bdb8d438;
    --toggle-color:#485bc3eb;
    --text-color:#2e0fba;	
}
body.dark{
	--dark-color-a: #040303;
	--dark-color-b: #3a3b2a;
	--light-color: #acacac;
	--success-color: #2b7ee4;
	--error-color: #ad0d07;
}

* {
	box-sizing: border-box;
	margin-left:349px ;
	padding-left: 32px;
	font-family: 'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
	
	
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	background: var(--light-color);
	margin: 20px;

	
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}
.head{
	margin-left:auto\\
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	background: var(--light-color);
	color: var(--dark-color-a);
	border: 0;
	font-size: 17px;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #f2eeee;
	margin: 30px auto;
	margin-left: 80px;

	padding:0;
	padding-left: 0;
	overflow: hidden;
}

.chat-header {
	background: var(--dark-color-a);
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	background: var(--dark-color-b);
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: scroll;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: var(--light-color);
	border-radius: 5px;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	color: var(--dark-color-b);
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: var(--dark-color-a);
}

.chat-form-container form {
	display: flex;
	
	
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	flex: 1;
}

/* Join Page */
.join-container {
	max-width: 400px;
	margin: 120px auto;
	color: #fff;
	padding-left: 0;
	/* margin-top:150px;
	margin-right: 40px; */
}

.join-header {
	text-align: center;
	padding: 20px;
	background: var(--dark-color-a);
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 30px 40px;
	background: var(--dark-color-b);
	display: flex;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 5px;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 400px) {
	.chat-main {
		display: block;
		margin-right: 60px;
	}

	.chat-sidebar {
		display: none;
	}

	#chat-form{
		margin-right: 100px;
		margin:0;
		padding-right:10px;
	}
	.btn{
		margin-right: 60px;
	}
}
@media (max-width: 400px) {
	.join-container{
		display: block;
		margin-left: 50px;
	}
	.chat-form-container form {
		display: flex;
		margin: 0;
		width: 23px;
	}
	
}
@media (max-width:500px){
	.join-container{
		display: block;
		margin-left: 50px;
	}

}
#chatpageimg{
  width: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
}